@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


@tailwind base;
@tailwind components;
@tailwind utilities;




/* src/index.css */

/* src/index.css */

/* Import slick carousel styles */



html, body {
    height: 100%; /* Ensure the body takes the full height of the viewport */
    margin: 0;
  }
  
  #root {
    height: 100%; /* Ensure the root element takes the full height */
  }
  
  .app-container {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    min-height: 100vh; /* Full viewport height */
  }
  
  main {
    flex: 1; /* Allow main to grow and fill the available space */
    padding: 20px; /* Add some padding around your main content */
    background-color: #f9f9f9; /* Light background color for main content */
  }
  
  footer {
    background-color: #ffffff; /* Footer background color */
    border-top: 1px solid #ccc; /* Top border for footer */
    padding: 20px; /* Padding for footer */
  }
  